APP_NAME="DP Intranet"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="DP Intranet"
